<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <nav class="navbar is-primary" style="height: 70px;">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#" style="font-weight:bold;">
          <!-- <img src="weather02-512.webp" alt="weatherimg" width="50" height="60"> -->
          What's the weather like?
          </a>
          <span class="navbar-burger burger is-active" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu is-active">
          <div class="navbar-end">
            <!-- <a href="index.html" class="navbar-item">Home</a> -->
            <a href="{{ url_for('aboutme') }}" class="navbar-item">About</a>
            <!-- <a href="portfolio.html" class="navbar-item">Portfolio</a> -->
            <!-- <a href="#" class="navbar-item">Contact</a> -->
          </div>
        </div>
      </div>
    </nav>
    <!-- section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <div class="navbar-brand">
                    What's the weather like?
                </div>
                <div class="navbar-end">
            about
        </div>
            </div>

        </div>

    </section> -->
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="city" type="text" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% set message_class = 'is-success' %}

                                {% if category == 'error' %}
                                    {% set message_class = 'is-danger' %}
                                {% endif %}
                                <div class="notification {{ message_class }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}

                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
            <div class="column is-offset-2 is-4">
                <button class="button is-link is-rounded" type="button" onclick="window.location.href='{{ url_for( 'showall') }}';">Show all History</button>
            </div>
            <div class="column is-offset-2 is-5">
                <button class="button is-link is-rounded" type="button" onclick="window.location.href='{{ url_for( 'index_post') }}';">Show Last Search</button>
        </div>
    </div>
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° C</span>
                                        <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>

        <!-- div class="column is-offset-0 is-1">
            <button class="button is-link is-rounded" type="button" onclick="window.location.href='{{ url_for( 'aboutme') }}';">Show One</button>
        </div> -->
    </div>
    </section>
    <footer class="footer" style="text-align: center;">
        Hope you have a great weather!
    </footer>
</body>

</html>
